
body{
    max-width: 100%;
    color: #FFF;
}
.image{
    height: 100%
}

.image-principal{
    max-width: 100%;
    height: 100%;
}

.col{
    background-image: url("../../image/melissa-milburn-OP6ylEhNxZc-unsplash.jpg");
    background-size: cover;
}
.black{
    color:#000
}
.red{
    color:#FF0000;
}

/* style lié au formulaire*/
.connect{
    width: 120px;
    background-color: #ffffff;
    border-radius: 25px;
    border: 1px solid #7433ff;
}
.connect:hover{
    border: 1px solid #7433ff;
}

.formulaire{
    width: 80%;
    margin: auto;
}
.input{
    outline: none;
}
.input:focus{
    outline: 2px solid #7433ff ;
}
.boutton{
    width: 120px;
    background-color: #7433ff;
    border-radius: 25px;
 }
 /*
@media (max-width:765px){
    .image{
        max-width: 100vw;
        border: 2px solid;
    }
    .image img {
        max-width: 100%;
    }
    .image-principal{
        max-width: 100%;
        height: auto;
    }
} */